body  {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000666;
  overflow: hidden;
  font: sans-serif;
}

:root {
  --loading-width: 160px;
  --loading-heigth: 23px;
}

.giftcontainer {
  position: relative;
  right: 80px;
}

.giftcontainer:before {
  content: "";
  position: absolute;
  width: 170px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  top: 90px;
  left: -10px;
}

.gift {
  position: absolute;
  width: 150px;
  height: 100px;
  background: white;
}

.gift::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 100px;
  background-color: red;
  left: 62px;
}

.gift::after {
  content: "";
  position: absolute;
  box-shadow: inset 0 10px rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 100px;
}

#click {
  display: none;
}

.click {
  position: absolute;
  background-color: white;
  width: 170px;
  height: 40px;
  top: -40px;
  left: -10px;
  transform-origin: bottom left;
  transition: 0.3s;
  cursor: pointer;
}

.click::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 40px;
  background-color: red;
  left: 72px;
}

.click::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 0;
  border-bottom: 30px solid white;
  border-top: 30px solid white;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(-90deg);
  left: 65px;
  top: -47px;
}

#click:checked+.click {
  transform: rotate(-10deg) scale(0.85);
}

#click:checked~.btn span {
  transform: translateY(0px);
}


.anim {
  animation: moving 0.5s linear reverse forwards;
}

@keyframes moving {
  0% {
    transform: scale(0);
  }

  10% {
    transform: scale(1);
  }

  100% {
    top: 50%;
    left: 50%;
  }
}

/* .hero {
  width: 160px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .btn {
  display: inline-block;
  font-size: 18px;
  padding: 0px 60px;
  background: transparent;
  color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  bottom: 0px;
  right: 10px;
  z-index: 2;
} */

.btn span {
  position: absolute;
  border: 1px solid #ff1876;
  background: #ff1876;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  bottom: 100px;
}

.btn span:nth-child(1) {
  top: -20%;
  left: -10%;
}

.btn span:nth-child(2) {
  top: -130%;
  left: 0%;
}
.btn span:nth-child(3) {
  top: -50%;
  left: 10%;
  background: transparent;
}
.btn span:nth-child(4) {
  top: -66%;
  left: 20%;
}
.btn span:nth-child(5) {
  top: -90%;
  left: 28%;
}
.btn span:nth-child(6) {
  top: -70%;
  left: 42%;
}
.btn span:nth-child(7) {
  top: -80%;
  left: 60%;
  background: transparent;
}
.btn span:nth-child(8) {
  top: -50%;
  left: 70%;
}
.btn span:nth-child(9) {
  top: -120%;
  left: 80%;
}
.btn span:nth-child(10) {
  top: -70%;
  left: 90%;
}
.btn span:nth-child(11) {
  top: -80%;
  left: 100%;
  background: transparent;
}
.btn span:nth-child(12) {
  top: -50%;
  left: 110%;
  background: transparent;
}
.btn span:nth-child(13) {
  top: 40%;
  left: -20%;
}
.btn span:nth-child(14) {
  top: 60%;
  left: 120%;
  background: transparent;
}
.btn span:nth-child(15) {
  top: 160%;
  left: -10%;
}
.btn span:nth-child(16) {
  top: 120%;
  left: 5%;
  background: transparent;
}
.btn span:nth-child(17) {
  top: 180%;
  left: 10%;
}
.btn span:nth-child(18) {
  top: 130%;
  left: 20%;
}
.btn span:nth-child(19) {
  top: 180%;
  left: 33%;
  background: transparent;
}
.btn span:nth-child(20) {
  top: 180%;
  left: 55%;
}
.btn span:nth-child(21) {
  top: 160%;
  left: 75%;
}
.btn span:nth-child(22) {
  top: 130%;
  left: 88%;
  background: transparent;
}
.btn span:nth-child(23) {
  top: 140%;
  left: 100%;
}
.btn span:nth-child(24) {
  top: 190%;
  left: 120%;
}

.window {
  background: white;
  width: 30%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 33px;
  min-height: 250px;
  border-radius: 22px;
  position: absolute;
  display: none;
}

dialog {
  height: 400px;
}

main {
  text-align: center;
  width: 90vw;
  position: relative;
  top: 50px;
}

.box {
  display: inline-block;
  border: solid black 4px;
  height: 20px;
  width: var(--loading-width);
  background-color: white;
}

.loading-box {
  height: var(--loading-heigth);
  width: var(--loading-width);
  background-color: blueviolet;
  background-color: rgb(117, 172, 117);
  animation: loading 5s delay iteration-count direction fill-mode;;
  animation: loading 5s;
}

#state-message {
  font-size: larger;
  font-weight: bold;
  color: rgb(109, 109, 109);
}

@keyframes loading {
  0% {
      width: 0;
  }
  100% {
      width: var(--loading-width);
  }
}

#title,
#result {
  margin-top: 8px;
  margin-bottom: 10px;
}

#me {
  margin-top: 8px;
  margin-bottom: 14px;
}

.box {
  margin-top: 3px;
}